body,ul,li,a,p{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
a{
	color: #555;
}
/*head*/
.head{
	padding: 0 25px 0 30px;
    height: 100px;
    margin: 0 auto;
    min-width: 955px;
    overflow: hidden;
}
.headLeft a{
    display: block;
    width: 260px;
    height: 80px;
    float: left;
    background: url(../images/logo.png)no-repeat;
    line-height: 80px;
    margin-top: 20px;
}
.headRight{
	float: right;
	height: 100px;
	line-height: 100px;

}
.headRight .tongzhi {
	float: left;
	text-align: right;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
.headRight .tongzhi a{
	color: #ed443b;
	font-size: 12px;
	display: block;
}
.headRight .search{
	float: left;
	height: 100px;
	margin-right: 35px;
	position: relative;
}
.headRight .search input{
	width: 294px;
	height: 32px;
}
.headRight .search a{
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/search.png)no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -7px;

    right: 10px;
}
/*.headLeft .search a{
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: url(../images/search.png)no-repeat;
}
*/.headRight .geRen{
	float: left;
	height: 100px;
}
.headRight .geRen .denlu{
	float: left;
	height: 100px;
	padding-right: 20px;
	font-size: 12px;
}
.headRight .geRen  span{
	float: left;
	color: #ccc;
}
.headRight .geRen .denlu a{
display: block;
background: url(../images/nav_a3.png)no-repeat   -274px 37px;
padding-left: 28px;
}
.headRight .geRen .dingdan{
	float: left;
	height: 100px;
	padding:0 20px;
	font-size: 12px;
}
.headRight .geRen .gouwuche{
	float: left;
	height: 100px;
	padding-right: 20px;
	font-size: 12px;
}
.headRight .geRen .gouwuche a{
display: block;
background: url(../images/new.png)no-repeat   -9px 42px;
padding-left: 50px;
}
/*head end*/
/*daohang*/
.daohang{
	height: 40px;
	background: #333;
	min-width: 955px;
	text-align: center;
}
.daohang ul{
display: inline-block;	
overflow: hidden;
margin: 0 auto;
height: 40px;
line-height: 40px;
}
.daohang ul li{
	display: block;
	float: left;
padding: 0 35px;
}
.daohang ul li a{
	font-family: "宋体";
font-size: 14px;
color: #ddd;
}
.daohang ul li:first-child{
background: #222;
}
/*daohang end*/
/*banner */
.swiper-button-prev{
    width: 61px;
    height: 60px;
    background: url(../images/dir.png) no-repeat;

}
.swiper-button-next{
    width: 61px;
    height: 60px;
    background: url(../images/dir.png) no-repeat;
        background-position: -91px center;
}
.swiper-pagination span{
background: #fff;
width: 10px;
height: 10px;
}
.banner{
	height: auto;
	overflow: hidden;
	min-width: 955px;
    font-size: 0;
}
.banner .bannerLeft{
	width: 60%;
	height: 100%;
	float: left;
}
.banner .bannerRight{
	width: 40%;
	float: right;
}

.banner .bannerRight .banner-rb{
    width: 100%;
    height: 100%;
}
.banner .bannerRight a{
	float: left;
   display: block;
   overflow: hidden;
}
.banner .bannerRight a:first-child{
	width: 100%;
	height: 66.7%;
}
.banner .bannerRight a:first-child~a{
	width: 50%;
	height: 33.3%;
}
.banner  a img{
	display: block;
     width: 100%;
     transition: all 1s ease-out;
}
.banner  a:hover img{
transform: scale(1.1,1.1);
}
/*banner end*/
/*main*/
.main{
	height: 160px;
	padding-bottom: 60px;
	border-bottom: 1px solid #ccc;
	margin: 60px auto;
	min-width: 955px;
}
.main  .main-img{
float: left;
overflow: hidden;
margin-right: 30px;
}
.main  .main-img a{
display: block;
}
.main  .main-img a img{
display: block;
width: 100%;
height: 100%;
}
.main  .main-content{
float: left;
overflow: hidden;
width: 420px;
padding-right: 40px;

}
.main  .main-content .main-content-til{
width: 100%;
margin: 20px 0 12px;
}
.main  .main-content .main-content-til a{
font-size: 24px;
color: #000;
font-family: "微软雅黑"；
}
.main  .main-content .main-content-til a:hover{
text-decoration: underline;
}
.main  .main-content .main-content-con{
width: 100%;
}
.main  .main-content .main-content-con p{
font-size: 12px;
color: #333;
line-height: 1.5em;
font-family: "微软雅黑"；
}
.main  .main-content2{
float: left;
width: 325px;
padding:  23px 0 0 55px ;
border-left: 1px solid #ccc;
}
.main  .main-content2 li {
list-style:outside disc none;
font-size: 0.5px;
color: #333;
}
.main  .main-content2 li a{
font-family: "微软雅黑";
font-size: 14px;
color: #333;
line-height: 28px;
}
.main  .main-content2 li a:hover{
text-decoration: underline;
}
/*main end*/

.lt{
	float: left;
}
.rt{
	float: right;
}
	.box{
		height: 540px;
		margin: 40px auto;
		padding-bottom: 40px;
		border-bottom: 1px solid #ccc;		
	}
	.box .boxLeft{
		width: 220px;
		height: 540px;
	}
	.box .boxRight{
		height: 540px;
		overflow: hidden;
		position: relative;
	}
	.box .boxRight li{
        float: left;
        position: relative;
	}
	.box .boxRight li .a{
        display: block;
            position: absolute;
       right: 0;
       bottom: 0;
       transition-duration:0.5s;
	}
	.box .boxRight li .a:hover{
            position: absolute;
       right: 15px;

	}
	.box .boxRight li img{
		display: block;
       width: 138px;
   
	}
	.product {
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	font-family: "微软雅黑";
	box-sizing:border-box;
	margin-right: 10px;
}
.product a{
text-decoration: none;
color: #000;
}
.product a:hover{
text-decoration: underline;
}
.product-pj{
	width: 100%;
	height: 22px;
	margin-top: 5px;
	line-height: 22px;
	font-size: 12px;
	color: #999;
	font-family: "微软雅黑"；
}
.product-jg{
	width: 100%;
	margin-top: 11px;
	margin-left: -5px;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	color: #000;
	font-family: "微软雅黑"；
}
.product-jg span{
font-weight: bold;
}
.product-tj{
	width: 28px;

	height: 18px;
	padding: 0 10px;
	line-height: 18px;
	font-size: 12px;
	color: #fff;
	background: #EE3531;
	font-family: "微软雅黑"；
}
/*star-product*/
.star{
	min-width: 955px;
	height: 400px;
	background: #F6F6F6;
	padding: 60px 0;
	margin-top: -40px;
}
.star .star-box{
height: 100%;
margin:  0 auto;
}
.star .star-left{
height: 100%;
float: left;
position: relative;
}
.star .star-left a{
	display: block;
	width: 100%;
height: 100%;
}
.star .star-left a img{
	display: block;
	width: 100%;
height: 100%;
}
.star .star-left .sanjiao{
	position: absolute;
	top: 50%;left: 660px;
	margin-top: -25px;
    border: 25px solid #f6f6f6;
	border-top-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
}
.star .star-right{
height: 100%;
float: left;
position: relative;
width: 465px;
margin-left: 25px;	
}
.star .star-right .star-name{
width: 100%;
}
.star .star-right .star-name a{
	display: block;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 30px;
	color: #333;
}
.star .star-right .star-name a:hover{
text-decoration: underline;
}
.star .star-right .star-pj{
width: 100%;
height: 60px;
margin-top: 12px;
}
.star .star-right .star-pj p{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
}
.star .star-right .star-jg{
	font-family: "微软雅黑";
	font-size: 24px;
	color: #ee3531;
	margin:17px 0; 
	height: 36px;
	font-weight: bold;
}
.star .star-right .star-btn{
width: 100%;
height: 129px;
border-bottom: 1px solid #ccc;
}
.star .star-right .star-btn .star-goumai{
width: 140px;
height: 40px;
margin-right: 15px;
border-radius: 5px;
background: #ee3531;
text-align: center;
line-height: 40px;
float: left;
}
.star .star-right .star-btn .star-goumai a{
display: block;
font-size: 16px;
color: #fff;
font-family: "微软雅黑";
}
.star .star-right .star-btn .star-chakan{
width: 140px;
height: 40px;
border-radius: 5px;
border: 1px solid #999;
text-align: center;
line-height: 40px;
float: left;
}
.star .star-right .star-btn .star-chakan a{
display: block;
font-size: 16px;
color: #555;
font-family: "微软雅黑";
}
.star .star-right .star-taolun{
width: 100%;
height: 99px;
}
.star .star-right .star-taolun .star-zan{
width: 200px;
height: 71px;
margin-top: 28px;
float: left;
}
.star .star-right .star-taolun .star-zan a{
	display: block;
width: 30px;
height: 30px;
float: left;
margin-right: 10px;
}
.star .star-right .star-taolun .star-zan a img{
	display: block;
width: 30px;
height: 30px;
}
.star .star-right .star-taolun .star-zan .star-zan-con{
font-size: 12px;
color: #333;
line-height: 30px;
font-family: "微软雅黑";
}
.star .star-right .star-taolun .star-canyu{
	margin-top: 28px;
width: 140px;
height: 40px;
border-radius: 5px;
    background: #333;
text-align: center;
line-height: 40px;
float: right;
}
.star .star-right .star-taolun .star-canyu a{
display: block;
font-size: 16px;
color: #fff;
font-family: "微软雅黑";
}

/*star-product end*/
/*zixun*/
.zixun{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 30px 0 50px 0;
	margin: 0 auto;
}
.zixun .zixun-box{
margin: 0 auto;
}
.zixun .zixun-box li{
width: 380px;
height: 476px;
margin: 30px 30px 0 0;
float: left;
}
.zixun .zixun-box li .zixun-top{
width: 100%;
height: 288px;
margin: 0 30px 0 0;
}
.zixun .zixun-box li .zixun-top a{
display: block;
width: 100%;
height: 100%;
}
.zixun .zixun-box li .zixun-top a img{
display: block;
width: 100%;
height: 100%;
}
.zixun .zixun-box li .zixun-bottom{
width: 344px;
height: 188px;
background: #f6f6f6;
padding: 0 18px;
position: relative;
z-index: 10;
}
.zixun .zixun-box li .zixun-bottom .zixun-bt-box1{
width: 100%;
height: 33px;
border:1px solid rgba(0,0,0,0);
position: relative;
}
.zixun-bt-box1  a:first-child{
display: block;
width: 60px;
height: 60px;
padding: 5px;
border-radius: 50%;
text-align: center;
background: #f6f6f6;
margin-top: -35px;
margin-right: 10px;
float: left;
}
.zixun-bt-box1  a:first-child img{
display: block;
width: 60px;
height: 60px;
border-radius: 50%;
}
.zixun-bt-box1  a:nth-child(2){
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #999;
    font-family: "微软雅黑";
}
.zixun-bt-box1  a:nth-child(3){
	float: right;
    font-size: 12px;
    color: #999;
    margin: 8px 0 0 15px;
    font-family: "微软雅黑";
      

}
.zixun-bt-box1  a:nth-child(3) img{
     vertical-align:middle;
     margin-right: 4px;

}
.zixun-bt-box1  a:nth-child(4){
	float: right;
    font-size: 12px;
    color: #999;
    margin: 8px 0 0 15px;
    font-family: "微软雅黑";
}
.zixun-bottom .zixun-bt-box2{
	width: 100%;
	margin: 20px 0 10px;
    height: 26px;
    line-height: 26px;
}
.zixun-bottom .zixun-bt-box2 a{
		display: block;
    font-size: 16px;
    color: #333;
    font-family: "微软雅黑";
}
.zixun-bottom .zixun-bt-box3{
	width: 100%;
    height: 38px;
    line-height: 18px;
}
.zixun-bottom .zixun-bt-box3 a{
	display: block;
    font-size: 12px;
    color: #666;
    font-family: "微软雅黑";
}
.zixun-bottom .zixun-bt-box4{
	width: 100%;
    margin: 18px 0 25px;
}
.zixun-bottom .zixun-bt-box4 a{
	display: block;
    font-size: 12px;
    color: #666;
    font-family: "微软雅黑";
}
.zixun .zixun-genduo{
	width: 100%;
	height: 34px;
}
.zixun .zixun-genduo a{
	display: block;
    width: 178px;
    height: 34px;
    border: 1px solid #999;
    color: #555;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    margin: 30px auto 0;
    border-radius: 5px;
}
/*zixun end*/
/*shipin*/
.shipin{
	padding: 60px 0;
    height: 542px;
    width: 100%;
    background: #f6f6f6;
    min-width: 955px;
}
.shipin .shipin-box{
	width: 1200px;
    height: 477px;
    margin: 0 auto;
}
.shipin .shipin-box .shipin-box-left{
	float: left;
    width: 235px;
    height: 100%;
    margin-right: 5px;
    font-size: 0;
}
.shipin .shipin-box .shipin-box-left .shipin-l1{
    width: 235px;
    height: 235px;
    margin-bottom: 5px;
    float: left;
    font-size: 0;
    position: relative;
}
.shipin .shipin-box .shipin-box-left .shipin-l1 a:nth-child(1){
	display: block;
}
.shipin .shipin-box .shipin-box-middle{
    float: left;
    width: 475px;
    height: 100%;
    font-size: 0;
    position: relative;
    margin-right: 5px;
}
.shipin .shipin-box .shipin-box-middle a:nth-child(1){
    display: block;
width: 100%;
height: 100%;
}
.shipin .shipin-box .shipin-box-middle a:nth-child(1) img{
    display: block;
width: 100%;
height: 100%;
 margin-right: 5px;
}
.shipin .shipin-box .shipin-box-middle a:nth-child(2){
    background-position: 434px center;

}
.shipin .shipin-box .shipin-box-right{
    float: left;
    width: 477px;
    height: 100%;
}
.shipin .shipin-box .shipin-box-right .shipin-r1{
    width: 235px;
    height: 235px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    font-size: 0;
    position: relative;
}
.shipin .shipin-box .shipin-box-right .shipin-r1 a:nth-child(1){
	display: block;
}
.shipin .shipin-box .shipin-box-right .shipin-r1 a:nth-child(1) img{
	display: block;
	width: 100%;
	height: 100%;
}
.shipin .shipin-box .shipin-box-right .shipin-bottom{
    width: 477px;
    height: 236px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    font-size: 0;
    position: relative;
}
.shipin .shipin-box .shipin-box-right .shipin-bottom a:nth-child(1){
	display: block;
}
.shipin .shipin-box .shipin-box-right .shipin-bottom a:nth-child(1) img{
	display: block;
	width: 100%;
	height: 100%;
}
.shipin .shipin-box .shipin-box-right .shipin-bottom a:nth-child(2){
    background-position: 434px center;
}
.shipin .shipin-box .shipin-box-right div:nth-child(2){
    margin-right: 0;
}
.shipin .shipin-box .shipin-box-left .shipin-l1 a:nth-child(1){
	display: block;
}
.shipin .shipin-box .bofan{
	display: block;
	width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 15px;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/play.png) no-repeat 193px center;
    background-color: rgba(0,0,0,.4);
    box-sizing:border-box;
}
.shipin .shipin-genduo{
	width: 100%;
	height: 34px;
}
.shipin .shipin-genduo a{
	display: block;
    width: 178px;
    height: 34px;
    border: 1px solid #999;
    color: #555;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    margin: 30px auto 0;
    border-radius: 5px;
        background: #fff;
}
/*shipin end*/
/*qitalianjie*/
.lianjie{
	width: 1200px;
    margin: 0 auto;
    padding: 70px 0 100px;
    min-width: 955px;
    overflow: hidden;
}
.lianjie ul{
    width: 1290px;
}
.lianjie ul li{
    width: 90px;
    height: 90px;
    margin-top: 30px;
    margin-right: 49px;
    float: left;
}
.lianjie ul li:nth-child(4) a img,.lianjie ul li:nth-child(12) a img,.lianjie ul li:nth-child(14) a img,.lianjie ul li:nth-child(15) a img{
height: 28px;
margin-top: 34px;
}
.lianjie ul li a{
display: block;
width: 90px;
height: 90px;
line-height: 28px;
}
.lianjie ul li a img{
display: block;
width: 100%;
}
.lianjie ul li a img:nth-child(4){
height: 28px;
}
.lianjie ul .hezuo{
    background: #333;
}
.lianjie ul .hezuo a div{
  font-family: "微软雅黑";
    font-size: 13px;
	color: #fff;
    text-align: center;
}
.lianjie ul .hezuo a div:nth-child(1){
	  padding: 10px;
    padding: 10px;
    font-size: 25px;
}
@media screen and (min-width:1200px){


}
@media screen and (max-width:1200px){
	.lianjie{
	width: 955px;

}
.lianjie ul{
        width: 974px;
}
.lianjie ul li{
    margin-right: 18px;
    margin-top: 20px;
}

}
/*qitalianjie end*/
/*foot*/
.foot{
	width: 100%;
    height: 300px;
    background: #222;
    font-size: 12px;
    min-width: 955px;
}
.foot .foot-top{
	width: 100%;
    max-width: 1200px;
    height: 120px;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    line-height: 120px;
    overflow: hidden;
}
.foot .foot-top .foot-top-inner{
	width: 886px;
    height: 100%;
    margin: 0 auto;
}
.foot .foot-top .foot-top-inner ul{
	width: 900px;

}
.foot-top-inner  ul li{
    background: url(../images/footer.png)no-repeat;
    margin-right: 100px;
    padding-left: 55px;
    float: left;
    color: #FFF;
    font-size: 16px;
    font-family: "微软雅黑";
}
.foot-top-inner  ul li:nth-child(1){
    background-position: -5px 35px;
}
.foot-top-inner  ul li:nth-child(2){
    background-position: -4px -56px;
}
.foot-top-inner  ul li:nth-child(3){
    background-position: -4px -163px;
}
.foot-top-inner  ul li:nth-child(4){
    margin-right: 0;
    background-position: -4px -266px;
}
.foot .foot-bottom{
    width: 900px;
    margin: 34px auto 0;
    padding-bottom: 36px;
    text-align: center;
    overflow: hidden;
}
.foot .foot-bottom .foot-bt-left{
width: 467px;
    padding: 25px 60px 30px 0;
    border-right: 1px solid #333;
float: left;
}
.foot-bt-left .foot-bt-left1{
    width: 100%;
    font-size: 18px;
    color: #666;
    text-align: left;
     font-family: "微软雅黑";
}
.foot-bt-left .foot-bt-left1 a{
    width: 100%;
    font-size: 18px;
    color: #666;
    text-align: left;
}
.foot-bt-left .foot-bt-left1 span{
    font-size: 12px;
}
.foot-bt-left .foot-bt-left2{
    margin-top: 7px;
    text-align: left;
    overflow: hidden;
    line-height: 18px;
    font-family: "微软雅黑";
    color: #666;
}
.foot-bt-left .foot-bt-left2 span{ 
margin-right: 10px;
}
.foot-bt-left .foot-bt-left2 a{ 
margin-right: 10px;
color: #666;
font-family: "微软雅黑";
}
.foot-bt-left .foot-bt-left2 a:hover{ 
color: #fff;
}
.foot .foot-bottom .foot-bt-right{
    padding-left: 56px;
    font-size: 12px;
    color: #666;
    vertical-align: top;
    float: left;
}
.foot-bt-right .aboutOur{
    font-size: 12px;
    color: #666;
    font-family: "微软雅黑";
    text-align: left;
}
.foot-bt-right .lianxi{
 	margin-top: -16px;
    width: 100%;
}
.foot-bt-right .lianxi .lianxi-left{
     float: left;
    margin-top: 20px;
}
.foot-bt-right .lianxi .lianxi-left a{
	display: block;
	float: left;
    width: 42px;
    height: 42px;
    margin-right: 9px;
    margin-top: 20px;
    background: url(../images/weibo.png) no-repeat;
    vertical-align: middle;
}
.foot-bt-right .lianxi .lianxi-left a:nth-child(1){
background-position: -104px 0;
}
.foot-bt-right .lianxi .lianxi-left a:nth-child(3){
background-position: -52px 0;
}
.foot-bt-right .lianxi .lianxi-right{
     float: left;
    margin-left: 48px;
}
@media screen and (max-width:1200px){

}
/*foot end*/
@media screen and (min-width:1200px){
        .main{
			width: 1200px;
		}
		.main  .main-img a{
		width: 300px;
		height: 160px;
		}
		.main  .main-content2{
		height: 137px;
		}
		.box{
			width: 1200px;
		}
		.box .boxRight{
		width: 954px;
		}
	    .box .boxRight li{
		width: 238px;
		height: 270px;
		padding: 20px;
		box-sizing:border-box;
		}
		.box .boxRight li:nth-child(2){
		    width: 478px;
		    height: 540px;
		}
		.box .boxRight li:nth-child(1),.box .boxRight li:nth-child(3){
		 border-bottom: 1px solid #ccc;
		}
		.box .boxRight li:nth-child(1),.box .boxRight li:nth-child(2),.box .boxRight li:nth-child(4){
		 border-right: 1px solid #ccc;
		}
		.box .boxRight li:nth-child(4){
		   position: absolute;
		   left: 0;
		   bottom: 0;
		}
		.box .boxRight li:nth-child(2) .product {
			font-size: 24px;
		}

		 .box .boxRight li:nth-child(2) .product-pj{
			font-size: 14px;
		}
		.box .boxRight li:nth-child(2)  .product-jg{

			font-size:22px;
		}
		.box .boxRight li:nth-child(2)  img{
       		width: 395px;
			}
		.star-box{
			width: 1200px;
		}
		.star .star-left{
		width: 710px;
		}
		.zixun .zixun-box{
			width: 1200px;
			height: 1010px;
		}
		.zixun .zixun-box ul{
		width: 1300px;
		}
}
@media screen and (max-width:1200px){
		.headRight .search input{
			width: 156px;
		}
		.main{
			width: 955px;
		}
		.main  .main-img a{
		width: 250px;
		height: 133px;
		}
		.main  .main-content{

		width: 330px;
		}
		.main  .main-content{
		padding-right: 18px;

		}
		.main  .main-content2{
		width: 284px;
		padding:  18px 0 0 42px ;
		}
		.main  .main-content .main-content-til a{
		font-size: 18px;
		}
		.main  .main-content2 li a{
		font-size: 12px;
		}
		.box{
			width: 955px;
		}
      .box .boxRight{
		width: 714px;
		}
	  .box .boxRight li{
		width: 238px;
		height: 270px;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 20px;
		box-sizing:border-box;
		}
		.box .boxRight li:nth-child(3n) {
		border-right: 0;
		}
		.box .boxRight li:nth-child(3)~li{
		border-bottom: 0;
		}
		.star-box{
		width: 955px;
		}
		.star .star-left{
		width: 465px;
		}
		.star .star-left .sanjiao{
		position: absolute;
		left: 415px;
		}
		.zixun .zixun-box{
			width: 955px;
			height: 848px;
		}
		.zixun .zixun-box ul{
		width: 1000px;
		}
		.zixun .zixun-box li{
		width: 300px;
		height: 394px;
		}
		.zixun .zixun-box li .zixun-top{
		height: 227px;
		}
		.zixun .zixun-box li .zixun-bottom{
		width: 264px;
		height: 167px;
		}
		.zixun-bottom .zixun-bt-box2{
			width: 100%;
			margin: 15px 0 5px;
		    height: 26px;
		    line-height: 26px;
		}
		.zixun-bottom .zixun-bt-box2 a{
		    font-size: 14px;
		}
		.shipin .shipin-box{
			width: 955px;
		}
		.shipin .shipin-box .shipin-box-right{
		    width: 235px;
		}
		.shipin .shipin-box .shipin-box-right .shipin-bottom{
			display: none;
		}
}

